<!-- Content -->
<div class="w-full lg:ps-64">
  <div class="p-4 sm:p-6 space-y-4 sm:space-y-6"> 
    <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm w-3/4 lg:w-1/2 mx-auto">
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl font-bold text-gray-800">Add Services</h1>
        </div>

        <div class="mt-6 pt-10 border-t border-slate-500">
          <!-- Form -->
          <form action="/services" method="post">
            <div class="grid gap-y-4">
              <!-- Form Group -->
              <div class="grid md:grid-cols-2 gap-2">
                <div class="relative">
                  <select name="service[service_type]" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    <option value="water_supply">Water Supply</option>
                    <option value="sewage_treatment">Sewage Treatment</option>
                    <option value="community_forums">Community Forums</option>
                    <option value="rescue_operations">Rescue Operations</option>
                  </select>
                </div>

                <div class="relative">
                  <input type="text" name="service[service_quantity]" autocomplete="off" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Service Quantity">
                </div>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div class="relative">
                <select name="service[order_id]" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                  <% @orders.each do |order| %>
                    <option value="<%= order.id %>"><%= order.full_name %></option>
                  <% end %>
                </select>
              </div>
              <!-- End Form Group -->

              <button type="submit" class="w-full py-3 px-4 mt-12 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-neutral-600 text-white hover:bg-neutral-800">
                Create Service
              </button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
